USE [SOFTWARE_ENGINEER123]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[MaBinhLuan] [int] IDENTITY(1,1) NOT NULL,
	[MaDV] [int] NULL,
	[TenDichVu] [nvarchar](150) NULL,
	[TenTaiKhoan] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](2048) NULL,
	[Ngay] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBinhLuan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiDV] [int] NULL,
	[TenDichVu] [nvarchar](150) NULL,
	[TenLoaiDV] [nvarchar](50) NULL,
	[Gia] [numeric](15, 0) NULL,
	[TinhTrang] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
	[HinhAnh] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [varchar](100) NULL,
	[MaDV] [int] NULL,
	[TenDichVu] [nvarchar](150) NULL,
	[NgayThue] [datetime] NULL,
	[TinhTrang] [int] NULL,
	[Gia] [int] NULL,
	[TongTien] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[MaLoaiDV] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiDV] [nvarchar](50) NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinKhachHang]    Script Date: 03-May-21 5:44:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinKhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [varchar](100) NULL,
	[TenKhachHang] [nvarchar](100) NULL,
	[SoDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[CMND] [int] NULL,
	[TenLoaiDV] [nvarchar](50) NULL,
	[MaLoaiDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'225702ce-05cf-4b70-98b2-abf80059feb3', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e5b6f4bf-f464-4c9c-b232-bff5692d457d', N'Employee')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'69825732-222d-4d76-aa75-2b207358b382', N'Manager')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', N'225702ce-05cf-4b70-98b2-abf80059feb3')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', N'Admin@gmail.com', 0, N'APsbemuVUz/ci2x6L0rpE+goAPHzvjW+e0uJEOx2UM7yIP29g9Bldr1cJlNluxEGyA==', N'6f835d4a-7c91-4a10-a58e-5371340ed06f', NULL, 0, 0, NULL, 0, 0, N'Admin@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDV], [MaLoaiDV], [TenDichVu], [TenLoaiDV], [Gia], [TinhTrang], [GhiChu], [HinhAnh]) VALUES (1, 1, N'Windows 10 Pro 32/64 bit', N'Cài Win', CAST(4000500 AS Numeric(15, 0)), 0, N'New', N'/Asset/images/10pro.jpg')
INSERT [dbo].[DichVu] ([MaDV], [MaLoaiDV], [TenDichVu], [TenLoaiDV], [Gia], [TinhTrang], [GhiChu], [HinhAnh]) VALUES (2, 2, N'Microsoft Office 2019 Professional Plus Digital', N'Cài Office', CAST(2300000 AS Numeric(15, 0)), 0, N'New', N'/Asset/images/office19.jpg')
INSERT [dbo].[DichVu] ([MaDV], [MaLoaiDV], [TenDichVu], [TenLoaiDV], [Gia], [TinhTrang], [GhiChu], [HinhAnh]) VALUES (3, 1, N'Windows 8.1 Pro 32/64 bits', N'Cài Win', CAST(600000 AS Numeric(15, 0)), 0, N'New', N'/Asset/images/811.jpg')
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaDV], [TenDichVu], [NgayThue], [TinhTrang], [Gia], [TongTien]) VALUES (6, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', 2, N'Microsoft Office 2019 Professional Plus Digital', CAST(N'2021-05-03T19:03:00.000' AS DateTime), 0, 0, 2300000)
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaDV], [TenDichVu], [NgayThue], [TinhTrang], [Gia], [TongTien]) VALUES (7, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', 3, N'Windows 8.1 Pro 32/64 bits', CAST(N'2021-05-03T19:04:00.000' AS DateTime), 0, 0, 600000)
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaDV], [TenDichVu], [NgayThue], [TinhTrang], [Gia], [TongTien]) VALUES (8, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', 2, N'Microsoft Office 2019 Professional Plus Digital', CAST(N'2021-04-29T16:07:00.000' AS DateTime), 1, 2300000, 2300000)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDichVu] ON 

INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV], [TinhTrang]) VALUES (1, N'Cài Win', 0)
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV], [TinhTrang]) VALUES (2, N'Cài Office', 0)
INSERT [dbo].[LoaiDichVu] ([MaLoaiDV], [TenLoaiDV], [TinhTrang]) VALUES (3, N'Vệ Sinh Máy Tính', 0)
SET IDENTITY_INSERT [dbo].[LoaiDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] ON 

INSERT [dbo].[ThongTinKhachHang] ([MaKH], [MaTK], [TenKhachHang], [SoDT], [DiaChi], [CMND], [TenLoaiDV], [MaLoaiDV]) VALUES (1, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', N'abcd', N'0123456789', N'abc điện biên phủ', 123123123, N'Cài Win', 1)
INSERT [dbo].[ThongTinKhachHang] ([MaKH], [MaTK], [TenKhachHang], [SoDT], [DiaChi], [CMND], [TenLoaiDV], [MaLoaiDV]) VALUES (2, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', N'abcd', N'0', N'abc điện biên phủ', 13123, N'Cài Win', NULL)
INSERT [dbo].[ThongTinKhachHang] ([MaKH], [MaTK], [TenKhachHang], [SoDT], [DiaChi], [CMND], [TenLoaiDV], [MaLoaiDV]) VALUES (3, N'6c2d6e53-805e-4f93-9b96-f382e8fc1fe8', N'sdf@gmail.com', N'0123456789', N'ĐNa', 13123, N'Cài Win', NULL)
SET IDENTITY_INSERT [dbo].[ThongTinKhachHang] OFF
GO
ALTER TABLE [dbo].[BinhLuan] ADD  DEFAULT (getdate()) FOR [Ngay]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT (N'New') FOR [GhiChu]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[LoaiDichVu] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDV])
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ThongTinKhachHang]  WITH CHECK ADD FOREIGN KEY([MaLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([MaLoaiDV])
GO
